
<div class="container">
    <div class="card-columns">
        <div ng-repeat="name in topiclist" class="card" ng-model="id" ng-init="topic=name; totalverses=topics.topics[name].verses.length" >
            <div  class="card-header font-weight-bold bg-warning text-uppercase">
                <a href="#!/view2" class="card-link">{{name}}</a>
                <select  ng-model="selectedVersion" ng-change="">
                    <option ng-repeat="x in versions.choices" data-image="https://www.countryflags.io/be/shiny/16.png" value="{{x.code}}">
                        {{ x.version }}
                  </option>
                </select>
            </div>
            <div class="card-body  text-center" >
                
               <p class="card-text lead" ng-model="word">{{changeVerse(selectedVersion,topic,id%topics.topics[name].verses.length)}}</p>
               <a href="#" class="card-link" >{{topics.topics[name].verses[id%topics.topics[name].verses.length].book + " "+ topics.topics[name].verses[id%topics.topics[name].verses.length].chapter + ":"+topics.topics[name].verses[id%topics.topics[name].verses.length].verse}}</a>

            </div>
            <div class="card-footer text-center bg-danger">
                <p>{{(id%topics.topics[name].verses.length)+ " of " + totalverses}}</p>
                <div class="progress">
                   <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{((theTime | date : 'ss')/60)*100+'%'}}"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{((id%topics.topics[name].verses.length+1)/totalverses)*100+'%'}}"></div>
                </div>    
            </div>
        </div>
    </div>  
    
</div>
<!--<div class="container">
  <h2>Verse Cards</h2>
  <p>Cards changes every minute. Refresh browser to display the new verse. </p>
  <p><strong>Note:</strong> Cards changes every minute. Refresh browser to display the new verse:</p>
  <div class="card-columns">
    <div ng-repeat="name in topics.topicslist" ng-model="id" class="card " ng-init="outerIndex=$index">
        <div class="card-header font-weight-bold bg-warning text-uppercase">
            <a href="#!/view2" class="card-link"> {{name}}</a>
            <select  ng-model="selectedVersion" ng-change="">
                changeVersion(x.name, selectedVersion, x.verses[id%x.verses.length].book, x.verses[id%x.verses.length].chapter, x.verses[id%x.verses.length].verse, id%x.verses.length, outerIndex)
                <option ng-repeat="x in versions.choices" value="{{x.code}}">
                        {{ x.version }}
                  </option>
            </select>
        </div>  
        <div class="card-body  text-center">
          <p class="card-text lead" id="{{x.name+'-text'}}" ng-model="word">{{changeVerse(selectedVersion, x.name, x.verses[id%x.verses.length].book, x.verses[id%x.verses.length].chapter, x.verses[id%x.verses.length].verse, id%x.verses.length)}}</p>
          <a href="#" class="card-link" >{{x.verses[id%x.verses.length].book + " "+ x.verses[id%x.verses.length].chapter + ":"+x.verses[id%x.verses.length].verse}}</a>

        </div>
        <div class="card-footer text-center bg-danger">
            <p id="{{x.name+'-verseID'}}">{{id%x.verses.length+ " of " + x.verses.length}}</p>
            <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{((theTime | date : 'ss')/60)*100+'%'}}"></div>
            </div>
            <br>
            <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{((id%x.verses.length+1)/x.verses.length)*100+'%'}}"></div>
            </div>
        </div>
        
    </div>
  </div>
</div>-->
